<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>Hi {{name}},</p>
        <p> Please, click the link below to reset your password</p>
        <form name="resetPassword" onSubmit='onSubmitHandler'>
            <label for="password">Password:</label>
            <input type="password" name="password" placeholder="Enter your password">
            <label for="retypedPassword">Password:</label>
            <input type="password" name="retypedPassword" placeholder="Retype your password">
            <input type="submit" value="Submit">
        </form>
    </body>
</html>