<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/resetPassword.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/js/resetPassword.js"></script>
    <title>Reset Password</title>
    
  </head>

  <body>
    
      <div class="container">
        <h1>Reset password for <%= name %> </h1>
        <hr>    
        <form action="" method="post">
          
          <input type="password" placeholder="Enter Password" name="password" id="password" onkeyup="passwordCheck()" required>
        
          
          <input type="password" placeholder="Repeat Password" name="password2" id="password2"  onkeyup="password2Check()" required>
          
          <span id="message"></span>
          
          <input type="submit" name="submit" value="Reset password" id="submitbutton" disabled>    
        </form>
      </div>
    
  </body>
</html>